/.idea/.idea.NamedPipes/.idea/.gitignore
/NamedPipes/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
/.vs/NamedPipes/v17/.suo
/.vs/NamedPipes/FileContentIndex/5aff3f55-76e6-4831-8cc9-4486684581fc.vsidx
/.vs/NamedPipes/FileContentIndex/51713ee2-dba2-473d-b385-5180199ae68d.vsidx
/NamedPipes/bin/Debug/ClientServerUsingNamedPipes.dll
/NamedPipes/bin/Debug/ClientServerUsingNamedPipes.pdb
/NamedPipes/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/NamedPipes/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/.idea/.idea.NamedPipes/.idea/encodings.xml
/.vs/NamedPipes/FileContentIndex/fe55e08d-2a19-4f3a-93e7-0798a5cfde27.vsidx
/.idea/.idea.NamedPipes/.idea/indexLayout.xml
/NamedPipes/obj/Debug/NamedPipes.csproj.AssemblyReference.cache
/NamedPipes/obj/Debug/NamedPipes.csproj.CopyComplete
/NamedPipes/obj/Debug/NamedPipes.csproj.CoreCompileInputs.cache
/NamedPipes/obj/Debug/NamedPipes.csproj.FileListAbsolute.txt
/NamedPipes/obj/Debug/NamedPipes.csproj.SuggestedBindingRedirects.cache
/NamedPipes/bin/Debug/NamedPipes.exe
/NamedPipes/obj/Debug/NamedPipes.exe
/NamedPipes/bin/Debug/NamedPipes.exe.config
/NamedPipes/bin/Debug/NamedPipes.pdb
/NamedPipes/obj/Debug/NamedPipes.pdb
/.vs/NamedPipes/FileContentIndex/read.lock
/.idea/.idea.NamedPipes/.idea/vcs.xml
/NamedPipes/ClientServerNamedPipes/bin/*
